@model E_Commerce_WebApp.Models.tbl_Images

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin_panel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_Images</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imag_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imag_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Product.Pro_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Product.Pro_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Img_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
