@model IEnumerable<E_Commerce_WebApp.Models.tbl_Images>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_panel.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imag_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Product.Pro_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imag_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Product.Pro_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Img_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Img_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Img_Id })
        </td>
    </tr>
}

</table>
